@import '@/assets/all.scss';

.wrapper {
    position: relative;
    height: 16px;
    width: 16px;
}

.defaultBox {
    z-index: -1;
    position: absolute;
    top: 0;
    pointer-events: none;
    visibility: hidden;
}

.customBox {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $grey-color-1;

    .checkmark {
        display: none;
    }

    &.checked {
        background-color: $blue-color;

        .checkmark {
            display: block;
        }
    }
}
