@import '@/assets/all.scss';

@media #{$tablet} {
    .wrapper {
        padding: 40px 24px;
        gap: 32px;
    }

    .subListBox {
        gap: 32px
    }
}



@media #{$desktop} {
    .wrapper {
        padding: 80px 40px;
    }

    .content {
        display: grid;
        grid-template-columns: 400px 1fr;
    }
}
