@import '@/assets/all.scss';

.module {
    z-index: 10;
    height: auto;
    background-color: $white-color;
    padding: 0 $module-padding;
}


.wrapper {
    height: $mobile-footer-height;
    width: 100%;

    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: $blue-color;

    p {
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        opacity: 0.5;
    }

    span {
        font-weight: 600;
    }

    a {
        p {
            cursor: pointer;

            @include mouse-hover {
                color: $red-color;
            }
        }
    }
}

.leftBox {
    display: flex;
    flex-direction: column;
}

.rightBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .copyrightIcon {
        height: 14px;
        width: auto;
    }

    svg {
        width: auto;
        height: 100%;

        @include mouse-hover {
            * {
                fill: $red-color;
            }
        }
    }
}

@media #{$tablet} {
    .wrapper {
        height: $tablet-footer-height;
        padding: 32px 24px;
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .leftBox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }

    .rightBox {
        display: flex;
        justify-content: flex-end;
    }
}

@media #{$desktop} {
    .wrapper {
        padding: 32px 40px
    }
}
